:root {
    --Verylightpink: #C7C7C7;
    --Textinputfield: #F7F7F7;
    --HospitalGreen: #ACD982;
    --White: #FFFFFF;
    --Black: #000000;
    --sm: 12px;
    --md: 16px;
    --lg: 24px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.container {
    height: auto;
    width: 100px;
    border: 1px solid var(--Verylightpink);
    border-radius: 8px;
    padding: 20px 20px 0 20px;
}

.list-container {
    list-style: none;
    padding: 0%;
    text-align: end;
    margin: 0;
}

.container .list-container li a {
    text-decoration: none;
    color: var(--Black);
    font-style: bold;
    margin-bottom: 20px;
    display: inline-block;
}

.container .list-container li:last-child {
    margin-top: 8px;
    border-top: 1px solid var(--Verylightpink);
    padding-top: 20px;
}

.container .list-container li:last-child a {
    color: var(--HospitalGreen);
    font-weight: var(--sm);
}

