:root {
    --Verylightpink: #C7C7C7;
    --Textinputfield: #F7F7F7;
    --HospitalGreen: #ACD982;
    --White: #FFFFFF;
    --Black: #000000;
    --sm: 12px;
    --md: 16px;
    --lg: 24px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.login {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.form {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center;
}

.logo {
    width: 175px;
    margin-bottom: 24px;
    justify-self: center;
    display: none;
}

.title {
    font-weight: 700;
    font-size: var(--lg);
    text-align: center;
    margin-bottom: 16px;
}

.subtitle {
    font-weight: 300;
    font-size: var(--md);
    color: var(--Verylightpink);
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.email-image {
    height: 132px;
    width: 132px;
    background: var(--Textinputfield);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: centert;
}

.email {
    width: 88px;
}

.primary-button {
    background-color: var(--HospitalGreen);
    color: var(--White);
    font-weight: bold;
    font-size: var(--md);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 50px;
    width: 100%;
}

.login-button {
    margin-top: 16px;
    margin-bottom: 28px;
}

.resend {
    font-size: var(--sm);
}

.resend span {
    color: var(--Verylightpink);
}

.resend a {
    color: var(--HospitalGreen);
    text-decoration: none;
}


@media (max-width: 640px) {
    .logo {
        display: block;
    }
}